OLD/
src/inference.c
train/__pycache__
train/.venv
train/checkpoints/*
!train/checkpoints/*.png
train/experiments/scaling_laws
train/dataset/*
!train/dataset/*.py
!train/dataset/*.md
!train/dataset/*.png
train/test/*
!train/test/*.py
!train/test/*.md
!train/test/*.png
train/*.*
!train/*.py
!train/README.md
!train/requirements.txt
webgui/dev/
TODO.txt
